<nav class="navbar navbar-default header">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">
    <%= image_tag("logo2.png") %></a>
   </div>
   <ul class="nav navbar-nav navbar-right">
     <li class="active">
       <li><%= link_to "<button class=btn btn-success>Sign up</button>".html_safe,user_new_path%>
     </li>
     <li><%= link_to "<button class=btn btn-success>Log in</button>".html_safe,login_new_path%>
     </li>   
      </ul>
 </div>
</nav></br>

<div class="container">
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6">
   <%= image_tag("event.jpg") %>
   </div>
   <div class="col-md-3">
   </div>
   </div>
   </div>
   </div>
